.outsourcing-top-section {
    height: 743px;
    background-image: url("../../../assets/OutSourcingPage/OutSourcingFirstSection/Rectangle56.png");
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;




}