.parent-container {
  background-image: url("../../../assets/HomePage/IntroSection/Rectangle5.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 744px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .header {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .image-container {
      display: flex;
      align-items: center;
      justify-content: center;
      background: white;
      width: 138px;
      height: 122.37px;
      border-radius: 16px;
    }

    h1 {
      font-weight: 700;
      font-size: 48px;
      text-align: center;
      width: 639px;
    }
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
      text-align: center;
      width: 505px;
      font-size: 16px;
    }

    .buttons {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 400px;

    }

    .inquire {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 500;
      width: 112px;
      height: 40px;
      box-shadow: 0px 4px 4px 0px #00000040;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 40px;
      border: none;
      color: white;
      background: #0771BA;
      cursor: pointer;
      transition: 0.6s;

    }

    .inquire:hover {
      border: 2px solid #0771BA;
      background: transparent;
    }

    .learn {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 500;
      width: 112px;
      height: 40px;
      box-shadow: 0px 4px 4px 0px #00000040;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 40px;
      border: 2px solid white;
      color: white;
      background: rgba(255, 255, 255, 0.2);
      cursor: pointer;
      transition: 0.6s;

    }

    .learn:hover {
      border: 1px solid rgba(255, 255, 255, 0.2);
      background: transparent;
    }
  }


}

@media (max-width: 768px) {
  .parent-container {
    height: auto;
    padding: 20px;
  }

  .header h1 {
    font-size: 0px;
    width: 100px;
  }

  .footer p {
    width: 100%;
  }

  .buttons {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .parent-container {
    .header {
      h1 {
        width: 20rem;
        font-size: 32px;
      }
    }

    .footer {
      p {
        width: 22rem;
      }

      .buttons {
        flex-direction: column;
        gap: 1rem;
      }
    }
  }





}